// Colors
$light: #fff;
$dark: #000000;
$lightDark: #222;
$yellow: #FFE605;
$green: #39DB4A;
$navbarColor: #272727;
$textColor: #4D4D4D;
$playButtonColor: #1E1E1E;
$pinkColor: #FF6868;
$lightGray: #807E7E;
$ratingsColor: #454545;
$iconsColor: #EDFFEF;
$footerColor: #555;
$boxShadowColor: #8EFF9A;
$categoriesBackground: #C1F1C6;

// Paddings
$padding: 8rem;

// Transition
$transition: all .4s ease-in-out;


// Box Shadows
$boxShadow: 0px 4px 10px 0px $boxShadowColor;
$boxShadow2: 5px 5px 34px 0 rgb(0 0 0 / 40%);